<h1 style="text-align:center;"> Propel(x) Experts</h1>

<table align="center">
  <tr>
    <th>Expert</th>
    <th>Role</th>
    <th>LinkedIn</th>
    <th>ResearchGate</th>
    <th></th>
  </tr>

  <% @experts.each do |exp| %>
    <tr>
      <td><%= exp.name %></td>
      <td><%= exp.role %></td>
      <td><%= exp.linkedin %></td>
      <td><%= exp.researchgate %></td>
      <td><%= link_to 'More Info', expert_path(exp) %></td>
    </tr>
  <% end %>
</table>
<br>
<p style="text-align:center;">
  <%= link_to 'Sign Up!', new_expert_path %>
</p>
