<h1>New Expert Profile</h1>

<%= form_with scope: :expert, url: experts_path, local: true do |f| %>

  <% if @expert.errors.any? %>
    <div id="errors">
      <h2>
        <%= pluralize(@expert.errors.count, 'field') %> invalid:
      </h2>
      <ul>
        <% @expert.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name, 'Full Name:' %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :role, 'Current Role:' %><br>
    <%= f.text_field :role %>
  </p>

  <p>
    Picture:<br>
    <%= f.file_field :picture %>
  </p>

  <p>
    <%= f.label :linkedin, 'LinkedIn Profile:' %><br>
    <%= f.text_field :linkedin %>
  </p>

  <p>
    <%= f.label :researchgate, 'ResearchGate Profile:' %><br>
    <%= f.text_field :researchgate %>
  </p>

  <p>
    <%= f.label :bio, 'Short Bio:' %><br>
    <%= f.text_area :bio %>
  </p>

  <p>
    <%= f.submit 'Submit!' %>
  </p>
<% end %>

<%= link_to 'All Experts', experts_path %>
