<h1 align="center">
  <%= @expert.name %>
</h1>

<p align="center">
  <strong>Current Role:</strong>
  <%= @expert.role %>
</p>

<p align="center">
  <strong>Followers:</strong>
  <%= @relationships.count %>
</p>

<p align="center">
  <strong>Bio:</strong>
  <%= @expert.bio %>
</p>

<p align="center">
  <strong>LinkedIn Profile:</strong>
  <%= @expert.linkedin %>
</p>

<p align="center">
  <strong>ResearchGate:</strong>
  <%= @expert.researchgate %>
</p>

<p align="center">
  <%= link_to 'All Experts', experts_path %>
</p>
